/*
 * HP fonts imports
 */
@font-face {
  font-family: 'HPSimplified';
  src: url('fonts/hpsimplified-regular-eot.eot');
  src: url('fonts/hpsimplified-regular-eot.eot?#iefix') format('embedded-opentype'), url('fonts/hpsimplified-regular-woff.woff') format('woff'), url('fonts/hpsimplified-regular-ttf.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HPSimplifiedBold';
  src: url('fonts/hpsimplified-bold-eot.eot');
  src: url('fonts/hpsimplified-bold-eot.eot?#iefix') format('embedded-opentype'), url('fonts/hpsimplified-bold-woff.woff') format('woff'), url('fonts/hpsimplified-bold-ttf.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HPSimplifiedBoldItalic';
  src: url('fonts/hpsimplified-bolditalic-eot.eot');
  src: url('fonts/hpsimplified-bolditalic-eot.eot?#iefix') format('embedded-opentype'), url('fonts/hpsimplified-bolditalic-woff.woff') format('woff'), url('fonts/hpsimplified-bolditalic-ttf.ttf') format('truetype');
}
@font-face {
  font-family: 'HPSimplifiedItalic';
  src: url('fonts/hpsimplified-italic-eot.eot');
  src: url('fonts/hpsimplified-italic-eot.eot?#iefix') format('embedded-opentype'), url('fonts/hpsimplified-italic-woff.woff') format('woff'), url('fonts/hpsimplified-italic-ttf.ttf') format('truetype');
}
@font-face {
  font-family: 'HPSimplifiedLight';
  src: url('fonts/hpsimplified-light-eot.eot');
  src: url('fonts/hpsimplified-light-eot.eot?#iefix') format('embedded-opentype'), url('fonts/hpsimplified-light-woff.woff') format('woff'), url('fonts/hpsimplified-light-ttf.ttf') format('truetype');
}
lesshat-selector {
  -lh-property: 0; } 
@-webkit-keyframes bounce{ 0%{ bottom:75px; } 40%{ bottom:55px; } 100%{ bottom:75px; }}
@-moz-keyframes bounce{ 0%{ bottom:75px; } 40%{ bottom:55px; } 100%{ bottom:75px; }}
@-o-keyframes bounce{ 0%{ bottom:75px; } 40%{ bottom:55px; } 100%{ bottom:75px; }}
@keyframes bounce{ 0%{ bottom:75px; } 40%{ bottom:55px; } 100%{ bottom:75px; };
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "HPSimplified", "Trebuchet MS", Arial;
  overflow: hidden;
}
#container {
  width: 100%;
  height: 100%;
  border: 1px solid gray;
  position: absolute;
  background-color: #ebebeb;
}
#container .counter-wrapper {
  z-index: 1;
  top: 0px;
  position: absolute;
  left: 50%;
}
#container .counter-wrapper .counter {
  opacity: 0;
  background-color: #8bb65c;
  width: 115px;
  height: 115px;
  color: #ffffff;
  top: 25px;
  position: absolute;
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
  -webkit-box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.05);
}
#container .counter-wrapper .counter .text {
  font-family: "HPSimplifiedLight", "Trebuchet MS", Arial;
  font-size: 75px;
  font-weight: normal;
  color: #ffffff;
  position: absolute;
  left: 39px;
  top: 34px;
  z-index: 100;
}
#container .counter-wrapper .counter:after {
  background-color: #779c4f;
  height: 115px;
  top: 0px;
  width: 115px;
  height: 55px;
  color: #ffffff;
  top: 1px;
  position: absolute;
  -webkit-border-radius: 115px 115px 0px 0px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 115px 115px 0px 0px;
  -moz-background-clip: padding;
  border-radius: 115px 115px 0px 0px;
  background-clip: padding-box;
  content: "";
}
#container #workspace {
  width: 100%;
  height: 100%;
  position: absolute;
}
#container #nav-bullets {
  position: absolute;
  top: 50%;
  right: 20px;
  height: 76px;
  margin-top: -38px;
  z-index: 100;
  list-style: none;
}
#container #nav-bullets li.active {
  background-color: transparent;
  opacity: 1;
}
#container #nav-bullets li:active,
#container #nav-bullets li:hover {
  background-color: transparent;
  opacity: 1;
}
#container #nav-bullets span:hover {
  opacity: 1;
}
#container #nav-bullets li {
  position: relative;
  margin-bottom: 12px;
  width: 10px;
  height: 10px;
  background-color: #656565;
  border: 1px solid #656565;
  opacity: 0.3;
  cursor: pointer;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#container #nav-bullets li span {
  position: absolute;
  text-align: right;
  top: -5px;
  right: 0;
  padding-right: 20px;
  font-size: 13px;
  color: #a2a2a2;
  opacity: 0;
  white-space: nowrap;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
#container #navbar {
  position: fixed;
  background-color: #ffffff;
  position: absolute;
  height: 56px;
  width: 100%;
  top: -1px;
  z-index: 100000;
  -webkit-box-shadow: 0px 6px 0px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 6px 0px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 6px 0px 0px rgba(0, 0, 0, 0.05);
}
#container #navbar div {
  position: absolute;
  top: 0px;
  padding: 0px 0px 0px 0px;
  margin: 0px;
  font-family: "HPSimplified", "Trebuchet MS", Arial;
  font-weight: bold;
  font-size: 20px;
  color: #434343;
  width: 100%;
  height: 100%;
}
#container #navbar div .text {
  position: absolute;
  left: 55px;
  top: 21px;
  white-space: nowrap;
  width: 100px;
  font-family: "HPSimplified", "Trebuchet MS", Arial;
  font-size: 16px;
  font-weight: normal;
  color: #434343;
}
#container #navbar div .image {
  position: absolute;
  left: 23px;
  top: 15px;
  background: url(../images/sprite.png) 0px 0px no-repeat;
  width: 30px;
  height: 30px;
  border: 0px;
}
#container footer {
  width: 100%;
  bottom: 0px;
  position: absolute;
}
#container footer .counter-wrapper {
  z-index: 1;
  top: 0px;
  position: absolute;
  left: 50%;
}
#container footer .counter-wrapper .counter {
  opacity: 0;
  background-color: #d6d6d6;
  width: 115px;
  height: 115px;
  color: #ffffff;
  top: -56px;
  position: absolute;
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
  -webkit-box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.05);
}
#container footer .counter-wrapper .counter .text {
  font-family: "HPSimplifiedLight", "Trebuchet MS", Arial;
  font-size: 75px;
  font-weight: normal;
  color: #ffffff;
  position: absolute;
  left: 39px;
  top: 14px;
  z-index: 100;
}
#container footer .counter-wrapper .counter:after {
  background-color: #cfcfcf;
  height: 115px;
  top: 0px;
  width: 115px;
  height: 55px;
  color: #ffffff;
  top: 1px;
  position: absolute;
  -webkit-border-radius: 115px 115px 0px 0px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 115px 115px 0px 0px;
  -moz-background-clip: padding;
  border-radius: 115px 115px 0px 0px;
  background-clip: padding-box;
  content: "";
}
#page .splash-header {
  margin: 0px;
  padding: 0px;
}
#page .splash-header li {
  font-family: "HPSimplifiedLight", "Trebuchet MS", Arial;
  list-style: none;
  text-align: center;
}
#page .splash-header .text1 {
  font-size: 50px;
  color: #000000;
  padding-top: 80px;
}
#page .splash-header .text2 {
  font-family: "HPSimplifiedLight", "Trebuchet MS", Arial;
  font-size: 30px;
  color: #5a5a5a;
  padding-bottom: 20px;
}
#page .splash .circle {
  /* .border-radius(50%);
      background-color: #8bb65c;*/
  height: 548px;
  width: 545px;
  margin: 20px auto auto;
  background-image: url(../images/splash.png);
}
.counter-bg-page1-0 {
  background-image: url("../images/page0bg.png");
  width: 259px;
  height: 158px;
  position: absolute;
  left: -211px;
  top: 2px;
}
.counter-bg-page1-1 {
  background-image: url("../images/page1bg.png");
  width: 356px;
  height: 276px;
  position: absolute;
  left: -122px;
  top: -109px;
}
.counter-bg-page2-0 {
  background-image: url("../images/page3bg.png");
  width: 356px;
  height: 296px;
  position: absolute;
  left: -149px;
  top: -118px;
}
.counter-bg-page2-1 {
  background-image: url("../images/page2bg.png");
  width: 301px;
  height: 159px;
  position: absolute;
  left: -84px;
  top: -102px;
}
.petek {
  width: 200px;
  height: 250px;
  border: 1px solid #e5eae9;
  -webkit-border-radius: 0px 12px 0px 12px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0px 12px 0px 12px;
  -moz-background-clip: padding;
  border-radius: 0px 12px 0px 12px;
  background-clip: padding-box;
  -webkit-box-shadow: 2px 2px 0px 0px #e5eae9;
  -moz-box-shadow: 2px 2px 0px 0px #e5eae9;
  box-shadow: 2px 2px 0px 0px #e5eae9;
  font-family: "HPSimplifiedLight", "Trebuchet MS", Arial;
}
.petek .icon {
  height: 150px;
}
.petek .details {
  position: absolute;
  padding: 0px;
  border-top: 1px solid #e5eae9;
  background-color: #f6faf9;
}
.petek .details .info-icon {
  position: absolute;
  top: 8px;
  right: 10px;
  background: url(../images/sprite.png) -110px 4px no-repeat #ffffff;
  width: 25px;
  height: 25px;
}
.petek .details ul {
  padding: 0px 0px 0px 15px;
  margin: 8px 0px 0px 0px;
}
.petek .details ul li {
  list-style: none;
  padding: 2px 0px 2px 0px;
}
.petek .details .dtitle {
  color: #000000;
  font-size: 17px;
}
.petek .details .ddescription {
  color: #707171;
  font-size: 15px;
}
.petek .details .dversion {
  color: #3dafdf;
  font-size: 15px;
}
#next-page {
  margin-bottom: 0px;
  width: 46px;
  height: 46px;
  position: fixed;
  display: block;
  bottom: 0px;
  left: 90%;
  z-index: 10;
  border-radius: 50%;
  background: url(../images/sprite.png) 0px 6px no-repeat #ffffff;
  -webkit-animation: bounce 1s linear infinite;
  -moz-animation: bounce 1s linear infinite;
  -o-animation: bounce 1s linear infinite;
  animation: bounce 1s linear infinite;
  border: 2px solid lightgray;
  opacity: 1;
}
#page {
  margin: 5px auto 0;
  max-width: 700px;
  font-size: 30px;
  text-align: left;
  top: 50px;
}
#page .title {
  list-style: none;
  font: normal 20px "HPSimplifiedLight", "Trebuchet MS", Arial;
}
#page .title li {
  padding: 0px 0px 10px 0px;
}
#page .title .header {
  color: #0096d6;
  font-size: 40px;
}
#page .title .sub-header {
  color: #3d3d3d;
  font-size: 30px;
}
#page #content {
  width: 100%;
  height: 100%;
}
#page h1#counter {
  position: absolute;
  left: 20%;
  top: 40%;
  font: normal 100px "HPSimplified", "Trebuchet MS", Arial;
  color: #FFFFFF;
  text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaaaaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}
#page .logo img {
  top: 15px;
  height: 30px;
  position: relative;
  list-style: none;
  margin: 2px auto;
  width: 280px;
  height: 110px;
}
